<div>
    <h2  class="text-info">אתר זה נוצר במטרה לתת מענה לבעלי עסקים<br>
        המבקשים לתכנן בצורה היעילה ביותר את סדר יומם<br>
        ולהספיק להכניס כמה שיותר לקוחות מבלי לשרוף זמן מיותר<br>
        אז אם גם אתם רוצים להנות מהשירות שלנו <br>
        לחצו על כפתור ההרשמה (אם אתם לא רשומים)<br>
         או על כפתור ההתחברות (אם אתם כבר רשומים)<br>
        והצטרפו לאלפי לקוחות מרוצים!!!<br>
        אז למה אתם מחכים?<br>
        </h2>
    <button style="margin-right: 10px; font-size: 15px;" class="btn btn-info" routerLink="/myHeader/myLogin">התחברות</button>
    <button style="margin-right: 10px; font-size: 15px;" class="btn btn-info" routerLink="/myHeader/myRegister">הרשמה</button>
</div>
<app-footer style="width: 100%;"></app-footer>