<div style="height: 200px;
            background-color: #F5F5F5;">
    <img src="./assets/logo.png" alt="" loading="lazy" style="height: 150px;
    width: 440px;
    margin-left:150px;
    margin-top: 25px;
    text-align: left;
    float: left;
    " />
    <div style="float: right; direction: rtl;">
        <p  style="text-align: right;
                  margin-right: 150px;
                  margin-top: 15px;" class="text-info">
            ליצירת קשר ותגובות על האתר:<br>
            אפרת מור יוסף:<br>
            0533140781<br>
            <a href="mailto:em0533140781@gmail.com">שלח מייל לאפרת</a><br>
            <!-- href="mailto:{{p.mail}}"<br> -->
            אוריה כהן:<br>
            0583234117<br>
            <a href="mailto:oriacohen77@gmail.com">שלח מייל לאוריה</a><br>

        </p>
    </div>
</div>


<!-- <p style="font-size: xx-large; text-align: center; background-color: red;" >footer works!</p> -->
<router-outlet></router-outlet>