div{
    border: blue;
    border-width: 10px;
    background-color: #e6e6e6;
    width: 800px;
    padding: 30px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;

}
h2{
    color: blue;
}
th{
    text-decoration: underline;
}
td{
    width: 120px;

    // width: auto;
    
}

.myTable{
    width: 520px;
}