.homeDiv{
    direction: rtl;
    width: 1260px;
}
.buttonView{
    margin-top: 100px;
}

.buttonSort{
    font-family: unset;
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.card-title
{
    font-size: 20px;
}

.card-text
{
    font-size: 10px;
}

.btn-primary
{
    font-size: 12px;
}

select
{
    width: 150px;
    direction: rtl;
    margin-left: 10px;
}