div{
    border-width: 10px;
    background-color: #e6e6e6;
    width: 800px;
    padding: 30px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;

}

  
//   label{
//     font-size: 20px;
//   }
//   .fc-event-time, .fc-event-title {
//     padding: 0 1px !important;
//     white-space: nowrap !important;
// }

// .fc-title {
//     white-space: normal !important;
// }
// .fc-h-event .fc-event-title{
//     white-space: normal !important;
// }
//   // div{
//   //   text-align: ce;
//   // }
  
//   button{
//     width: 120px;
//     height: 30px;
//     margin-right: 500px;
//     font-size: 15px;
//   }