
<div style=" width:100%;">
<button class="btn btn-primary" style="float: left;margin-right: 30px; width: auto; margin-bottom: 20px;">פגישות עם לקוחות</button>
<button class="btn btn-success" style="float: left;margin-left: 30px; margin: auto; width: auto;">פגישות עם בעלי עסקים</button> 
 <p style="float: left;font-size: x-large;margin-left: 30px; ">מקראה:</p>

</div>
<div style="width:100%; height: 750px;">
  <full-calendar  deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
</div>

<app-footer style="width: 100%;"></app-footer>
