<body>
    <div style="margin-top: -20px;">
      <h2 class="text-info">איפוס סיסמא</h2>
      <form class="form-group" (ngSubmit)="reset()" #myFrm="ngForm">
        <input #myTz="ngModel" type="text" placeholder="הכנס תעודת זהות" name=tz [(ngModel)]="this.tzUser"
          class="form form-control text-center"
          style="text-align: center;          margin-left: 300px;  margin-top: 20px; margin-bottom: 0px;" required>
        <div *ngIf="myTz.invalid && (myTz.touched || myTz.dirty )" class="alert-danger form form-control text-center">
          תעודת זהות היא שדה חובה
        </div>
        <button type="submit" class="btn btn-info" style="margin-left: 41%; margin-top: 15px;" [disabled]="!myFrm.valid">שלח לי סיסמא חדשה</button>
      </form>
    </div>
  </body>
  <router-outlet></router-outlet>
<!-- <p>ברגעים אלו נשלח אלייך מייל עם הסיסמא החדשה שלך</p>
<p>ניתן לשנות את הסיסמא בכל עת באיזור האישי על ידי לחיצה על הכפתור איפוס סיסמא</p> -->